WORK_DIR=add_your_local_work_dir_here

SMTP_HOST=add_your_smtp_HOST_here
SMTP_PORT=add_your_smtp_port_here
EMAIL_SENDER=add_your_email_sender_here
EMAIL_ALERT_TO=add_your_email_addresses_here_comma_separated
EMAIL_STOCK_TO=add_your_email_addresses_here_comma_seperated

ODOO_BASE_URL=add_your_odoo_url_here
ODOO_DATABASE=add_your_odoo_database_here
ODOO_RPC_USER_ID=add_you_user_id_here
ODOO_PASSWORD=add_your_odoo_token_here

SPECTRUM_BASE_URL=https://staging.spectrumcustomizer.com/
SPECTRUM_API_KEY=add_your_spectrum_token_here

